.rightbar {
  flex: 3.5;
  height: calc(100vh - 3rem);
  overflow-y: scroll;
  position: sticky;
  top: 3.125rem;
}

.rightbar-wrapper {
  padding: 1.25rem 1.25rem 0 0;
}

.birthday-container {
  display: flex;
  align-items: center;
}

.birthday-img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.625rem;
}

.birthday-text {
  font-weight: 300;
  font-size: 0.95rem;
}

.rightbar-ad {
  width: 100%;
  border-radius: 0.375rem;
  margin: 2rem 0;
}
.rightbar-title {
  margin-bottom: 1.25rem;
  font-weight: 500;
  font-size: 1.125rem;
}

.rightbar-friendlist {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbar-info {
  margin-bottom: 2.5rem;
}

.rightbar-info-item {
  margin-bottom: 0.625rem;
}

.rightbar-info-key {
  font-weight: 500;
  margin-right: 1rem;
  color: #555;
}

.rightbar-info-value {
  font-weight: 300;
}

.rightbar-followings {
  display: grid;
  row-gap: 0.375rem;
  column-gap: 0.1rem;
  grid-template-columns: repeat(3, 1fr);
}
